<nav class="sidebar-nav">
  <ul class="sidebar-nav__list">
    <li class="sidebar-nav__item">
      <a href="/user/dashboard" class="sidebar-nav__link sidebar-nav__link--active">Dashboard</a>
    </li>
    <li class="sidebar-nav__item">
      <a href="/user/profile" class="sidebar-nav__link">Profile</a>
    </li>
    <li class="sidebar-nav__item">
      <a href="/user/my-vehicles" class="sidebar-nav__link">My Vehicles</a>
    </li>
    <li class="sidebar-nav__item">
      <a href="/user/search-vehicles" class="sidebar-nav__link">Search Vehicles</a>
    </li>
    <li class="sidebar-nav__item sidebar-nav__item--separator"></li>
    <li class="sidebar-nav__item">
      <a href="/user/settings" class="sidebar-nav__link">Settings</a>
    </li>
    <li class="sidebar-nav__item">
      <a href="/logout" class="sidebar-nav__link sidebar-nav__link--logout">Logout</a>
    </li>
  </ul>
</nav>
